/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run zbi/spliceview -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 20
    max_memory = '128.GB'
    max_time   = '240.h'

    // Input data
    // Run pipeline from TEST folder
    genome           = 'R64-1-1'
    read1_extension  = '_1.fastq.gz'
    read2_extension  = '_2.fastq.gz'

    // Important: ${projectDir} must be referenced using double quotes
    input            = "${projectDir}/assets/testdata"

    // Genome references
    // input              = "${params.test_data_base}/samplesheet/v3.10/samplesheet_test.csv"
    // fasta              = "${params.test_data_base}/reference/genome.fasta"
    // gtf                = "${params.test_data_base}/reference/genes.gtf.gz"
}
